## Calculating the Beta of a Stock

In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb

actions = ['MGLU3.SA', '^BVSP']
data = pd.DataFrame()

for action in actions:
    data[action] = wb.DataReader(
        action, data_source='yahoo', start='2015-1-1', end='8-1-2020')['Adj Close']

In [2]:
data.tail()

             MGLU3.SA     ^BVSP
Date
2020-07-27  19.687790  104477.0
2020-07-28  19.948309  104109.0
2020-07-29  19.901167  105605.0
2020-07-30  20.665356  105009.0
2020-07-31  20.047892  102912.0

*****

### Calculate the beta of the actions

In [3]:
sec_return = np.log(data / data.shift(1))

In [4]:
cov = sec_return.cov() * 250
cov

          MGLU3.SA     ^BVSP
MGLU3.SA  0.435223  0.088530
^BVSP     0.088530  0.076298

In [5]:
cov_with_market = cov.iloc[0, 1]
cov_with_market

0.0885296447060255

In [6]:
market_var = sec_return['^BVSP'].var() * 250
market_var

0.07629775333791299

## Beta

### $$ 
\beta_{MGLU} = \frac{\sigma_{MGLU,market}}{\sigma_{market}^2}
$$

In [7]:
beta = cov_with_market / market_var
beta

1.1603178446675755

## Calculate the expected return of MGLU (CAPM):

### $$
\overline{r_{MGLU}} = r_f + \beta_{MGLU}(\overline{r_{m}} - r_f) 
$$

In [8]:
bra_market_risk = 0.1219  # https://www.bloomberg.com/markets/rates-bonds
reward = 0.05
MGLU_CAPM = bra_market_risk * beta * reward
MGLU_CAPM

0.007072137263248872

## Sharpe Ratio

### $$
Sharpe = \frac{\overline{r_{MGLU}}-r_f}{\sigma_{MGLU}}
$$

In [9]:
sharpe = (MGLU_CAPM - bra_market_risk) / \
    (sec_return['MGLU3.SA'].std() * 250 ** 0.5)
sharpe

-0.17405703702489358