In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
from scipy.stats import norm

$$
d_1 = \frac{\ln(\frac{S}{K}) + (r + \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

$$
d_2 = d_1 - s \cdot \sqrt{t} = \frac{\ln(\frac{S}{K}) + (r - \frac{stdev^2}{2})t}{s \cdot \sqrt{t}}
$$

In [2]:
def d1(S, K, r, stdev, T):
    return (np.log(S / K) + (r + stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))


def d2(S, K, r, stdev, T):
    return (np.log(S / K) + (r - stdev ** 2 / 2) * T) / (stdev * np.sqrt(T))

$$
\textbf{C} = SN(d_1) - Ke^{-rt}N(d_2) 
$$

In [3]:
def BSM(S, K, r, stdev, T):
    return (S * norm.cdf(d1(S, K, r, stdev, T))) - (K * np.exp(-r * T) * norm.cdf(d2(S, K, r, stdev, T)))

In [4]:
ticker = 'VALE3.SA'
data = pd.DataFrame()
data[ticker] = wb.DataReader(
    ticker, data_source='yahoo', start='2012-1-1', end='2022-4-26')['Adj Close']

In [5]:
S = data.iloc[-1]
S

VALE3.SA    78.0
Name: 2022-04-26 00:00:00, dtype: float64

In [6]:
log_returns = np.log(1 + data.pct_change())
log_returns

            VALE3.SA
Date
2012-01-02       NaN
2012-01-03  0.043537
2012-01-04  0.006766
2012-01-05 -0.027102
2012-01-06 -0.008637
...              ...
2022-04-19 -0.032429
2022-04-20 -0.026348
2022-04-22 -0.059710
2022-04-25 -0.017176
2022-04-26 -0.013751

[2557 rows x 1 columns]

In [7]:
stdev = log_returns.std() * 250 ** 0.5
stdev

VALE3.SA    0.435041
dtype: float64

In [8]:
r = 0.1219
K = 79.08
T = 1

In [9]:
d1(S, K, r, stdev, T)

VALE3.SA    0.466115
dtype: float64

In [10]:
d2(S, K, r, stdev, T)

VALE3.SA    0.031074
dtype: float64

In [11]:
BSM(S, K, r, stdev, T)

VALE3.SA    17.125856
Name: 2022-04-26 00:00:00, dtype: float64