In [1]:
import numpy as np
import pandas as pd
from pandas_datareader import data as wb
import matplotlib.pyplot as plt

In [2]:
tickers = ['MGLU3.SA', 'LREN3.SA']

sec_data = pd.DataFrame()

for t in tickers:
    sec_data[t] = wb.DataReader(t, data_source='yahoo', start='2007-1-1')['Adj Close']

In [3]:
sec_data.tail()

             MGLU3.SA   LREN3.SA
Date
2019-12-26  49.053169  56.869999
2019-12-27  48.693436  56.099998
2019-12-30  47.664211  56.189999
2020-01-02  49.330002  57.500000
2020-01-03  48.910000  57.779999

In [4]:
sec_returns = np.log(sec_data / sec_data.shift(1))

In [5]:
sec_returns

            MGLU3.SA  LREN3.SA
Date
2011-05-02       NaN       NaN
2011-05-03 -0.009160 -0.022610
2011-05-04  0.010982 -0.020257
2011-05-05 -0.006086  0.001615
2011-05-06 -0.007353  0.031402
...              ...       ...
2019-12-26  0.007155  0.015011
2019-12-27 -0.007361 -0.013632
2019-12-30 -0.021363  0.001603
2020-01-02  0.034352  0.023046
2020-01-03 -0.008551  0.004858

[2149 rows x 2 columns]

## RENNER

In [6]:
sec_returns['LREN3.SA'].mean()

0.0011548980708673906

In [7]:
sec_returns['LREN3.SA'].mean() * 250

0.28872451771684765

In [8]:
sec_returns['LREN3.SA'].std()

0.02051470929330101

In [9]:
sec_returns['LREN3.SA'].std() * 250 ** 0.5

0.32436603451527213

## MAGAZINE LUIZA

In [10]:
sec_returns['MGLU3.SA'].mean()

0.0019204262144948813

In [11]:
sec_returns['MGLU3.SA'].mean() * 250

0.48010655362372034

In [12]:
sec_returns['MGLU3.SA'].std()

0.03730884064072459

In [13]:
sec_returns['MGLU3.SA'].std() * 250 ** 0.5

0.5899045664247274

Final Results:

In [14]:
print ('ATIVO 1: {}% de retorno ao ano'.format(round(sec_returns['LREN3.SA'].mean() * 250, 3)))
print ('ATIVO 2: {}% de retorno ao ano'.format(round(sec_returns['MGLU3.SA'].mean() * 250, 3)))

ATIVO 1: 0.289% de retorno ao ano
ATIVO 2: 0.48% de retorno ao ano

In [15]:
sec_returns[['LREN3.SA', 'MGLU3.SA']].mean() * 250

LREN3.SA    0.288725
MGLU3.SA    0.480107
dtype: float64

### VOLATIVIDADE

In [16]:
sec_returns[['LREN3.SA', 'MGLU3.SA']].std() * 250 ** 0.5

LREN3.SA    0.324366
MGLU3.SA    0.589905
dtype: float64

# CORRELAÃ‡ÃƒO E COVARIANCIA


\begin{eqnarray*}
Covariance Matrix: \  \   
\Sigma = \begin{bmatrix}
        \sigma_{1}^2 \ \sigma_{12} \ \dots \ \sigma_{1I} \\
        \sigma_{21} \ \sigma_{2}^2 \ \dots \ \sigma_{2I} \\
        \vdots \ \vdots \ \ddots \ \vdots \\
        \sigma_{I1} \ \sigma_{I2} \ \dots \ \sigma_{I}^2
    \end{bmatrix}
\end{eqnarray*}

In [17]:
renner_var = sec_returns['LREN3.SA'].var()
renner_var

0.0004208532973886508

In [18]:
magalu_var = sec_returns['MGLU3.SA'].var()
magalu_var

0.0013919495899549826

In [19]:
renner_var_annual = sec_returns['LREN3.SA'].var() * 250
renner_var_annual

0.1052133243471627

In [20]:
magalu_var_annual = sec_returns['MGLU3.SA'].var() * 250
magalu_var_annual

0.34798739748874563

***

In [21]:
cov_matrix = sec_returns.cov()
cov_matrix

          MGLU3.SA  LREN3.SA
MGLU3.SA  0.001392  0.000220
LREN3.SA  0.000220  0.000421

In [22]:
cov_matrix_a = sec_returns.cov() * 250
cov_matrix_a

          MGLU3.SA  LREN3.SA
MGLU3.SA  0.347987  0.054876
LREN3.SA  0.054876  0.105213

***

In [23]:
corr_matrix = sec_returns.corr()
corr_matrix

          MGLU3.SA  LREN3.SA
MGLU3.SA  1.000000  0.286431
LREN3.SA  0.286431  1.000000