In [1]:
import numpy as np
import pandas as pd

In [2]:
ser = pd.Series(np.random.random(5), name = "Column 01")

In [5]:
ser

0    0.903560
1    0.591929
2    0.204607
3    0.144052
4    0.983748
Name: Column 01, dtype: float64

In [6]:
ser[2]

0.20460656387719278

In [3]:
from pandas_datareader import data as wb

In [4]:
INTER = wb.DataReader('BIDI4.SA', data_source='yahoo', start='2015-1-1')

In [5]:
INTER

                 High        Low       Open      Close      Volume  Adj Close
Date
2018-05-11   3.123800   3.012290   3.120470   3.062220   3376896.0   2.696745
2018-05-14   3.103830   2.995650   3.085520   3.070540   3028992.0   2.704072
2018-05-15   3.095510   3.012290   3.062220   3.042250   2527865.0   2.679158
2018-05-16   3.077200   3.045580   3.047240   3.062220    773922.0   2.696745
2018-05-17   3.065550   3.045580   3.062220   3.060560    410996.0   2.695283
2018-05-18   3.077200   2.995650   3.062220   3.070540   1363978.0   2.704072
2018-05-21   3.068880   2.995650   3.068880   3.012290  15808921.0   2.652774
2018-05-22   3.095510   3.038920   3.045580   3.078860   4668168.0   2.711399
2018-05-23   3.162080   3.047240   3.078860   3.157080   1432477.0   2.780283
2018-05-24   3.162080   3.065550   3.158750   3.065550   2505032.0   2.699678
2018-05-25   3.112150   2.970690   3.078860   3.062220   2278504.0   2.696745
2018-05-28   3.092180   2.962370   3.062220   3.003970   2444344.0   2.645447
2018-05-29   3.070540   2.992320   3.015620   3.053900   2296530.0   2.689418
2018-05-30   3.075530   2.912440   3.053900   2.912440    999249.0   2.564841
2018-06-01   3.028940   2.712730   2.929080   2.862510   1436082.0   2.520870
2018-06-04   2.962370   2.832550   2.889140   2.870830   1704071.0   2.528197
2018-06-05   2.927420   2.681110   2.877490   2.711060   5135646.0   2.387496
2018-06-06   2.779300   2.579590   2.717720   2.596230    555806.0   2.286371
2018-06-07   2.579590   2.273370   2.579590   2.413160   1326123.0   2.125150
2018-06-08   2.559620   2.396520   2.466420   2.479730    774523.0   2.183775
2018-06-11   2.662800   2.479730   2.552960   2.579590    907916.0   2.271717
2018-06-12   2.711060   2.601220   2.609540   2.662800    674778.0   2.344996
2018-06-13   2.707740   2.508030   2.662800   2.612870    600270.0   2.301025
2018-06-14   2.664460   2.579590   2.579590   2.587910    504131.0   2.279044
2018-06-15   2.631180   2.529660   2.614540   2.546300   2110260.0   2.242400
2018-06-18   2.574600   2.496380   2.534650   2.496380    264383.0   2.198438
2018-06-19   2.504700   2.436460   2.496380   2.461430   1529217.0   2.167659
2018-06-20   2.504700   2.384870   2.496380   2.384870    856241.0   2.100236
2018-06-21   2.413160   2.318300   2.413160   2.318300    357518.0   2.041612
2018-06-22   2.371560   2.298330   2.323290   2.329950    326273.0   2.051871
...               ...        ...        ...        ...         ...        ...
2019-06-25  10.068300   9.850000   9.968330   9.998330   1758000.0   9.873879
2019-06-26  10.096700   9.785000   9.998330   9.805000   1861200.0   9.682956
2019-06-27  10.138300   9.668330   9.833330  10.138300   4611000.0  10.012107
2019-06-28  10.275000  10.141700  10.200000  10.151700   4111800.0  10.151700
2019-07-01  10.333300  10.250000  10.250000  10.300000   2281200.0  10.300000
2019-07-02  10.456700  10.186700  10.333300  10.416700   2403600.0  10.416700
2019-07-03  10.763300  10.433300  10.460000  10.750000   5140800.0  10.750000
2019-07-04  11.860000  10.950000  11.090000  11.860000   9435900.0  11.860000
2019-07-05  13.550000  12.210000  12.210000  12.980000  17826900.0  12.980000
2019-07-08  14.570000  13.500000  13.710000  14.390000  17026400.0  14.390000
2019-07-10  16.500000  13.990000  15.300000  13.990000  27348300.0  13.990000
2019-07-11  14.290000  12.820000  13.000000  13.900000  20932400.0  13.900000
2019-07-12  14.650000  13.450000  14.470000  13.670000   6891200.0  13.670000
2019-07-15  13.680000  13.020000  13.680000  13.100000   4579500.0  13.100000
2019-07-16  13.890000  12.380000  12.890000  13.890000   8974200.0  13.890000
2019-07-17  14.250000  13.520000  14.100000  13.590000   5541900.0  13.590000
2019-07-18  13.840000  13.360000  13.710000  13.600000   2646000.0  13.600000
2019-07-19  14.000000  13.470000  13.750000  13.770000   5076800.0  13.770000
2019-07-22  13.950000  13.570000  13.780000  13.760000   1823700.0  13.760000
2019-07-23  14.130000  13.530000  13.880000  14.080000   3337000.0  14.080000
2019-07-24  14.150000  13.710000  14.080000  13.710000   1991800.0  13.710000
2019-07-25  13.960000  13.630000  13.830000  13.840000   1692800.0  13.840000
2019-07-26  14.050000  13.640000  13.820000  13.870000   2738600.0  13.870000
2019-07-29  13.990000  13.510000  13.980000  13.540000   1202300.0  13.540000
2019-07-30  16.040001  14.600000  16.000000  15.750000  12948500.0  15.750000
2019-07-31  17.500000  15.880000  15.910000  16.450001  14163200.0  16.450001
2019-08-01  17.850000  17.120001  17.350000  17.660000   7660600.0  17.660000
2019-08-02  17.990000  16.660000  17.799999  17.629999   6921100.0  17.629999
2019-08-05  17.570000  16.860001  17.200001  17.030001   1681800.0  17.030001
2019-08-05  17.030001  17.030001  17.799999  17.030001   1681800.0  17.030001

[305 rows x 6 columns]

In [31]:
INTER.info()

<class 'pandas.core.frame.DataFrame'>
DatetimeIndex: 294 entries, 2018-05-11 to 2019-07-22
Data columns (total 6 columns):
High         294 non-null float64
Low          294 non-null float64
Open         294 non-null float64
Close        294 non-null float64
Volume       294 non-null float64
Adj Close    294 non-null float64
dtypes: float64(6)
memory usage: 16.1 KB

In [11]:
INTER.head(10)

               High      Low     Open    Close      Volume  Adj Close
Date
2018-05-11  3.12380  3.01229  3.12047  3.06222   3376896.0   2.696745
2018-05-14  3.10383  2.99565  3.08552  3.07054   3028992.0   2.704072
2018-05-15  3.09551  3.01229  3.06222  3.04225   2527865.0   2.679158
2018-05-16  3.07720  3.04558  3.04724  3.06222    773922.0   2.696745
2018-05-17  3.06555  3.04558  3.06222  3.06056    410996.0   2.695283
2018-05-18  3.07720  2.99565  3.06222  3.07054   1363978.0   2.704072
2018-05-21  3.06888  2.99565  3.06888  3.01229  15808921.0   2.652774
2018-05-22  3.09551  3.03892  3.04558  3.07886   4668168.0   2.711399
2018-05-23  3.16208  3.04724  3.07886  3.15708   1432477.0   2.780283
2018-05-24  3.16208  3.06555  3.15875  3.06555   2505032.0   2.699678

In [12]:
INTER.tail(10)

             High    Low   Open  Close     Volume  Adj Close
Date
2019-07-15  13.68  13.02  13.68  13.10  4579500.0      13.10
2019-07-16  13.89  12.38  12.89  13.89  8974200.0      13.89
2019-07-17  14.25  13.52  14.10  13.59  5541900.0      13.59
2019-07-18  13.84  13.36  13.71  13.60  2646000.0      13.60
2019-07-19  14.00  13.47  13.75  13.77  5076800.0      13.77
2019-07-22  13.95  13.57  13.78  13.76  1823700.0      13.76
2019-07-23  14.13  13.53  13.88  14.08  3337000.0      14.08
2019-07-24  14.15  13.71  14.08  13.71  1991800.0      13.71
2019-07-25  13.96  13.63  13.83  13.84  1692800.0      13.84
2019-07-26  14.05  13.64  13.82  13.87  2738600.0      13.87

In [6]:
empresas = ['MGLU3.SA', 'BIDI4.SA', 'LREN3.SA', 'PETR4.SA','MSFT']
new_data = pd.DataFrame()
for emp in empresas:
    new_data[emp] = wb.DataReader(emp, data_source='yahoo',start='1995-1-1')['Adj Close']

ValueError: cannot reindex from a duplicate axis

In [14]:
new_data.iloc[1744]

MGLU3.SA    108.049110
BIDI4.SA      2.696745
LREN3.SA     28.374279
PETR4.SA     24.277393
MSFT         95.723946
Name: 2018-05-11 00:00:00, dtype: float64